/* Home.css */
/* 
body {
    margin: 0;
    font-family: 'Arial, sans-serif';
    background-color: #f4f4f4;
  } */
  
  .home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin-top: 140px;
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  .home_title {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
  }
  
  .home_subtitle {
    font-size: 1.5em;
    margin-top: 10px;
  }
  