/* App.css */

.app-container {
  display: flex;
  max-width: 100%;
}

.sidebar-open .main-content {
  margin-left: 250px; /* Width of the open sidebar */
  transition: margin-left 0.3s ease-in-out;
}

.sidebar-closed .main-content {
  margin-left: 85px; /* Width of the closed sidebar */
  transition: margin-left 0.3s ease-in-out;
}

.main-content {
  width: 100%;
  flex-grow: 1;
  padding: 20px;
  margin-top: 70px;
}

.navbar {
  position: fixed;
  top: 0;
  max-width: 100%;
  z-index: 1000;
}
